.App {
  text-align: center;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 1.5em;
  margin: 20px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo_text {
  /*see: http://bit.ly/2abZQSQ*/
  font-size: 1.5em;
  font-weight: bold;
  /*border: 1px solid #fff;*/
  position: absolute;
  top: 45px;
  margin-left: -65px;
}

.userProfile {
  margin-top:5px;

}
  .details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    font-size: 1em;
    word-wrap: normal;
  }
    span.mega-octicon {
      margin: 3px;
      cursor: pointer;
    }
    span.mega-octicon:hover {
      color: #F8B232;
    }


  .pic {
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 20px;
    border: 10px solid white;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
    float: left;
  }
    .grow img {
      height: 250px;
      width: 250px;
      transition: all 1s ease;
    }
    .grow img:hover {
      cursor: pointer;
      width: 300px;
      height: 300px;
    }

.students-container {
  display:flex;  
  justify-content: center;
  flex-wrap: wrap;
}



